{% extends 'base.html.twig' %}

{% set page_title = 'About Me' %}
{% set meta_description = 'My name is Mayela Miridis, I am an ordained non denominational minister with well
        over 800 ceremonies officiated in Cancun, Isla Mujeres, Tulum and the Riviera Maya' %}

{% block body %}

    <p class="short">My name is Mayela Miridis, I am an ordained non denominational minister with well
        over 800 ceremonies officiated in Cancun, Isla Mujeres, Tulum and the Riviera Maya. I'm fluent in English and
        German. I love my job! I get to meet lovely people and be a part of one of the most important days of their
        lives.
    </p>

    <p class="short">
        I know that a wedding celebration is such an important event, enhanced by the beautiful flowers, the dress and
        the presence of family and friends, and at the center of it all is the trust and love that has brought a couple
        to this moment.
    </p>

    <p class="short">For the last ten years it has been my pleasure to help couples celebrate their commitment by putting into words
        the love and hope they share for each other and their future together.
    </p>

{% endblock %}
