{% extends 'base.html.twig' %}

{% set page_title = 'Wedding Minister' %}

{% block body %}

    {{ include('_menu.html.twig') }}

    <div class="home-img"><img src="{{ asset('images/center-image.jpg') }}"/></div>

    <p class="narrow">Hi, welcome to my page, I know planning your wedding is a very important process, and choosing a
        wedding minister is vital if you want your ceremony to honor your relationship and be as special and personal as
        you always imagined it. You've come to the right place.</p>

    <p class="narrow">My philosophy is to create a ceremony that speaks of who you both are, with touches of your love
        story so it stays in your memory forever. That is why being in close contact will be an important part of the
        process, in order to get to know each other a little, and learn more about you, your style and values.
    </p>

    <p class="narrow">Being very respectful of cultural traditions and religious backgrounds I design different kinds of
        symbolic ceremonies depending on your wishes and preferences.</p>

    <div class="narrow">
        <ul>
            <li>Christian Ceremonies</li>
            <li>Religious Non Denominational Ceremonies as well as,</li>
            <li>Non Religious Ceremonies</li>
        </ul>
    </div>
{% endblock %}