{% extends 'base.html.twig' %}

{% set page_title = 'Thank You' %}

{% block body %}

    <div class="row" style="margin: 30px 0 40px 0;">
        <div class="alert alert-success col-xs-10 col-xs-offset-1 text-center">
            <div>
                Thank you very much for sharing ....
            </div>
            <br/>
            <div>
                <span style="font-family: Kleymissky; font-size: 2em;">Mayela</span>
            </div>
        </div>
    </div>

{% endblock %}
