{% extends 'backend.html.twig' %}

{% set page_title = 'Edit Testimonial' %}

{% block body %}

    {% embed 'backend/_common/headerButtonGroup.html.twig' %}
        {% block buttons %}
            {{ include('backend/_common/listButton.html.twig', {route: 'backend_testimonial_index', label:'list', title:'Testimonials list'}) }}
            {{ include('backend/testimonial/_delete_form.html.twig') }}
        {% endblock %}
    {% endembed %}

    <h1>{{ page_title }}</h1>

    {{ include('backend/testimonial/_form.html.twig') }}

{% endblock %}

