<div style="float: right; padding-top: 10px;">
    <a href="{{ path(route) }}" class="btn btn-sm btn-primary"><i
                title="{{ title|default('') }}" class="fa fa-plus"></i> {{ label|default('missing caption') }}</a>
</div>
