<a title="{{ title|default('') }}" href="{{ path(route, {id:id}) }}" class="btn btn-default {{ size|default('btn-sm') }}"><i class="fa fa-eye"></i>{% if label is defined %} {{ label }}{% endif %}</a>
