{{ form_start(form) }}
    {{ form_widget(form) }}
    {% embed 'backend/_common/submitButtonGroup.html.twig' %}
        {% block buttons %}
            <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
        {% endblock %}
    {% endembed %}
{{ form_end(form) }}
