<form style="display: inline; margin:0;" method="post" action="{{ path('backend_picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
</form>
